<div class="form-container">
<p>Edit your Profile</p>
{{#if tryAgain}}
  {{>errorTwo }}
{{/if}}
<form id="signup" method="POST" action="/editprofile">

<input type="text" id="firstname" name="firstname" value="{{userProfile.firstname}}" placeholder="Enter your first name">
  
<label for="lastname"></label>
<input type="text" id="lastname" name="lastname" value="{{userProfile.lastname}}" placeholder="Enter your last name">
  
<label for="email"></label>
<input type="email" id="email" name="email" value="{{userProfile.email}}" placeholder="Enter your email">
  
<label for="password"></label>
<input type="password" id="password" name="password" minlength="2" placeholder="Change password">
<label for="age"></label>
<input type="number" min="0" id="age" name="age" value="{{userProfile.age}}" placeholder="Your age">
  
<label for="City"></label>
<input type="text" id="city" name="city" value="{{userProfile.city}}" placeholder="Your city">
  
<label for="Homepage"></label>
<input type="text" id="url" name="url" value="{{userProfile.url}}" placeholder="Homepage">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<br>
<input id="button" type="submit" value="Update ✈">
</form>
</div>