<h1>{{userProfile.firstname}}'s Profile</h1>

<div class="form-container">
<p>Update personal info.</p>
{{#if tryAgain}}
  {{>errorTwo }}
{{/if}}

<form id="signup" method="POST" action="/editprofile">

<input type="text" id="firstname" name="firstname" value="{{userProfile.firstname}}" placeholder="Enter your first name">
<input type="text" id="lastname" name="lastname" value="{{userProfile.lastname}}" placeholder="Enter your last name">
<input type="email" id="email" name="email" value="{{userProfile.email}}" placeholder="Enter your email">
<input type="password" id="password" name="password" minlength="2" placeholder="Change password">
<input type="number" min="0" id="age" name="age" value="{{userProfile.age}}" placeholder="Your age">
<input type="text" id="city" name="city" value="{{userProfile.city}}" placeholder="Your city">
<label for="Homepage"></label>
<input type="text" id="url" name="url" value="{{userProfile.url}}" placeholder="Homepage">
<br>
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<button id="button" type="submit">Save changes ✓</button>
</form>

<div class="gridProfile">
<form id="ActLikeSignup" method="GET" action="/thanks">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<button id="deleteSig" type="submit">Cancel ✖</button>
</div>
</div>
</form>

