<div class="signedBy-Container">
<img class="plane" src="/on_plane_sitting_cnn_copy.png" alt="cnn.com">
<figcaption>© cnn.com</figcaption>
<h1>Petition was signed by</h1>
<ul class="list-names">

{{#each listOfNames}}

<li>
    {{#if url}}
<a href="{{url}}" target="_blank">{{firstname}} {{lastname}}</a>
    {{else}}
{{firstname}} {{lastname}}
    {{/if}}

     {{#if age}}
| {{age}}    
    {{/if}}

    {{#if city}}
| <a href="/signedBy/{{city}}">{{city}}</a>
    {{/if}}</li>
    
    {{/each}}
</ul>

<a class="logout" href="/logout">Logout</a>
