<div class="signedBy-Container">
<h1>Petition supporters</h1>
<img class="plane" src="/on_plane_sitting_cnn_copy.png" alt="cnn.com">
<figcaption>© cnn.com</figcaption>
<h3>Check out the list of signers</h3>
<ul class="list-names">

{{#each listOfNames}}
<li>
    {{#if url}}
<a href="{{url}}" target="_blank">{{firstname}} {{lastname}}</a>
    {{else}}
{{firstname}} {{lastname}}
    {{/if}}

     {{#if age}}
| {{age}}
    {{/if}}

    {{#if city}}
| from <a href="/signedBy/{{city}}">{{city}}</a>
    {{/if}}</li>
    
    {{/each}}
</ul>
<div class="gridProfile">
<form id="signup" method="GET" action="/thanks">
<button id="button" type="submit">◄ Take me back</button>
<input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
</div>
<a class="logout" href="/logout">Log out</a>
