<div class="thanks-container">
<img class="plane" src="/on_plane_sitting_cnn_copy.png" alt="cnn.com">
<figcaption>© cnn.com</figcaption>
<h3>Thank you {{firstname}} for signing the petition <br>(and thank you for remaining in your seat)</h3>


<div class= "signature-pic-box">
<img src="{{signatureImg}}"> 
</div>

<form id="signup" method="GET" action="/editprofile">
<input id="button" type="submit" value="Edit Your Profile">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>


<form id="signup" method="POST" action="/deleteSig">
<input id="deleteSig" type="submit" value="Unsign Petition">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
<br>
<form id="signup" method="GET" action="/signedBy">
<input id="button" type="submit" value="See all {{numOfNames}} signers">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
<a class="logout" href="/logout">Logout</a>
</div>
